<div id="search-box">
	<form action="/" method="post">
		<input type="text" name="url" id="url" placeholder="site" autofocus>
		<br>
		<input type="submit" value="check">
	</form>	
</div>

<h2 id="status"><%= @status %></h2>